# Temporary files
*~

#ROS messages and services generated folders
msg_gen
srv_gen

#Ros carpeta build, lib, include, bin
bin
build
lib

#user qt creator
CMakeLists.txt.user

*.cmake
gtest
devel
catkin_generated
CMakeFiles
catkin
